@mixin font-global
  font-family: 'Inter', sans-serif;

h1
  @include font-global
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  margin-top: 5px;

h2
  @include font-global
  font-size: 35px;
  font-weight: 800;
  color: #a2a2a2;
  margin: 0;
  margin-top: 5px;


body
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

.window
  height: 100%;
  margin: 0;
  padding: 50px;


.window-inner
  height: calc(100vh - 100px);
  border: 2px solid;

  .section-one
    padding: 100px;
    h1
      max-width: 900px;

.window-components
  .logo
    position: absolute;
    top: 0px;
    left: 10px;

    img
      width: 80px;
      padding: 20px 25px;
      background: white;
  
  .navbar
    background: white;
    position: absolute;
    display: block;
    top: 27px;
    right: 80px;

    &-item
      display: inline-block;
      padding: 10px;
      @include font-global;
      font-size: 20px;
    
    &-item:first-child
      padding-left: 30px;
    
    &-item:last-child
      padding-right: 30px;
